:root {
  --app-height: 100vh;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.ant-picker-cell {
  cursor: default !important;
}

.ant-card-meta-title {
  white-space: initial !important;
}

.ant-card-head {
  padding: 0 12px !important;
}

@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: normal;
  src: "fonts/poppins/Poppins-Bold.ttf";
}

.inputs {
  border-radius: 0 !important;
  border-width: 0px 0px 0px 0px !important;
  border-bottom: 2px solid rgb(208 199 202) !important;
  font-family: Raleway, sans-serif;
  box-shadow: none !important;
}

.inputs:focus,
.ant-input-affix-wrapper-focused {
  border-radius: 0 !important;
  border-bottom-color: rgb(255 123 163) !important;
  z-index: 1;
  box-shadow: 0 0 0 0 #ffffff !important;
  font-family: Raleway, sans-serif;
  box-shadow: none !important;
}

.ant-btn .submit-btn {
  width: 150px;
  height: 150px;
  background: #14ada9;
  border: none;
  text-align: center;
  padding: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.3s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn .submit-btn::before {
  content: "";
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 50% !important;
  border-color: rgb(20 173 169);
  color: rgb(20 173 169);
  border: 2px solid !important;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  box-sizing: border-box !important;
  animation: wave-stroke2 1.6s infinite cubic-bezier(0.37, 0, 0.8, 0.77);
  pointer-events: none;
}
