@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url(fonts/Raleway.ttf) format("ttf");
}

.ant-card-hoverable:hover {
  background-color: #fff5f8;
}

.close-button:hover {
  background-color: #ff3333;
  cursor: pointer;
  border-radius: 3px;
}

.ant-checkbox-disabled .ant-checkbox-inner {
  background-color: gray;
  border-color: gray;
}

.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #ff7ba3 !important;
  background-color: #ff7ba3 !important;
}

.title-green .ant-card-meta-title {
  color: #14ada9 !important;
}

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-cart {
  display: none;
  width: 250px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background: #f0f9f9;
  border: 1px solid #beeaeb;
  border-radius: 80px;
  padding: 0;
  margin: 0;
}

.top-event-container {
  max-width: 680px;
  margin-top: 16px;
}

.top-buttons-box {
  min-width: 250px;
}

.divider {
  display: flex;
  width: 250px;
  border-bottom-color: #ff7ba3;
  border-bottom-width: 1px;
}

.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-list {
  height: 350px;
}

.laser-type {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.visible-768-flex {
  display: none !important;
}

.visible-610px {
  display: none;
}

.none-610px {
  display: flex;
}

.specialists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.specialists-container-small {
  margin: 0 auto;
  display: none;
  width: 250px;
}

.specialist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
}

.specialist-image {
  width: 150px;
  height: 150px;
  border: 1px solid #ff7ba3;
  border-radius: 100px;
  padding: 6px;
}

@media (max-width: 768px) {
  .ant-layout {
    padding: 0 20px;
  }
  .right-container {
    display: none;
  }
  .top-box {
    display: block;
    margin-left: 16px;
    margin-right: 16px;
  }
  .top-event-container {
    width: auto;
  }
  .top-buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .paper {
    margin-top: 20px !important;
  }
  .ant-list {
    height: 1000px;
  }
  .small-cart {
    display: flex;
    transform: scale(1.3);
  }
  .visible-768-flex {
    display: flex !important;
  }
  .none-768 {
    display: none !important;
  }
}

iframe {
  display: none !important;
}

@media (max-width: 516px) {
  .top-buttons-box {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 590px) {
  .table-row {
    display: flex;
  }
  .none-516 {
    display: none !important;
  }
  .visible-516 {
    display: block !important;
  }

  .laser-type {
    display: block;
  }
  .small-cart {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .ant-layout {
    padding: 0;
  }
}

@media (max-width: 610px) {
  .visible-610px {
    display: block;
  }
  .none-610px {
    display: none;
  }
}
